@media (max-width: 48em) {
  .b-nav {
    z-index: 11;
  }
  .b-nav:not(.open) {
    visibility: hidden;
    position: absolute;
  }
  .b-nav a {
    color: rgba(0, 0, 0, 0.84);
    list-style-type: none;
    padding-right: 1rem;
    text-align: right;
  }
  .b-nav h4 {
    padding-right: 1rem;
    text-align: right;
  }
  .b-nav.open {
    visibility: visible;
  }

  .b-link {
    margin-left: 30px;
    text-decoration: none;
    width: auto;
    text-align: right;
  }

  .b-menu {
    cursor: pointer;
    display: inline-block;
    height: 60px;
    padding-left: 15.5px;
    padding-top: 17.5px;
    position: relative;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    width: 60px;
    z-index: 12;
  }

  .b-bun {
    background: rgba(0, 0, 0, 0.84);
    position: relative;
    transition: all 0.4s ease;
  }
  .b-bun--top {
    height: 2px;
    top: 0;
    width: 25px;
  }
  .b-bun--mid {
    height: 2px;
    top: 8px;
    width: 25px;
  }
  .b-bun--bottom {
    height: 2px;
    top: 16px;
    width: 25px;
  }

  .b-container {
    height: 60px;
    left: 30px;
    top: 30px;
    float: right;
  }
  .b-container:hover:not(.open) .bun-top,
  .b-container:hover:not(.open) .bun-mid,
  .b-container:hover:not(.open) .bun-bottom {
    background: white;
  }
  .b-container.open .b-bun--top {
    background: rgba(0, 0, 0, 0.84);
    top: 9px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .b-container.open .b-bun--mid {
    opacity: 0;
  }
  .b-container.open .b-bun--bottom {
    background: rgba(0, 0, 0, 0.84);
    top: 5px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .b-container.open {
    color: rgba(0, 0, 0, 0.84);
  }
}
@media (prefers-color-scheme: dark) {
  .b-nav a {
    color: #93a1a1;
  }
  .b-bun {
    background: #93a1a1;
  }
  .b-container.open .b-bun--top {
    background: #93a1a1;
  }
  .b-container.open .b-bun--bottom {
    background: #93a1a1;
  }
}
