<style type="text/css">
document , entry {}
title {  display: block;
       width: 250px;
       font-size: 16pt ;
       font-family: arial ;
       font-weight: bold;
       background-color: teal;
       color: white;
       padding-left: 10px;}

content { display: block;
       font-size: 12pt;
       padding-left: 10px;}

</style>
