<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <div>
        <img  class="sidebar-image"
              src="{{ site.baseurl }}/public/img/frederic-bardolle.png"
              alt="Frédéric Bardolle"
              srcset="{{ site.baseurl }}/public/img/frederic-bardolle.png 250w,
                      {{ site.baseurl }}/public/img/frederic-bardolle-low-res.png 100w"
              sizes="(max-width: 768px) 80px,
                      150px">
        </img>
        <h1 href="{{ site.url }}">
          {{ site.title }}
        </h1>
        <!-- Burger-Icon -->
        <div class="b-container">
          <div class="b-menu">
            <div class="b-bun b-bun--top"></div>
            <div class="b-bun b-bun--mid"></div>
            <div class="b-bun b-bun--bottom"></div>
          </div>
        </div>
        <!-- Navigation -->
        <nav class="b-nav sidebar-nav">
          <h4>À lire et à écouter</h4>
          <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.url }}">• Blog ✍️</a>
          <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.podcast_url }}">• Podcast 🎙</a>

          <h4>À propos</h4>
          {% assign pages_list = site.pages %}
          {% for node in pages_list %}
            {% if node.title != null %}
                {% if node.layout == "page_blog" %}
                  <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">• {{ node.title }}</a>
                {% endif %}
            {% endif %}
          {% endfor %}

          <h4>Informations</h4>
          {% assign pages_list = site.pages %}
          {% for node in pages_list %}
            {% if node.title != null %}
                {% if node.layout == "page_info" %}
                  <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">• {{ node.title }}</a>
                {% endif %}
            {% endif %}
          {% endfor %}
        </nav>
        <div class="sidebar-small">
          <small>
            Pour recevoir directement les nouveaux articles dans votre boîte mail, vous pouvez vous abonner en m'envoyant <a href="mailto:blog@f14e.fr?subject=Je%20voudrais%20m%27abonner%20%C3%A0%20f14e.fr&body=Merci%20!">message</a>, ou en suivant le <a href="{{ site.baseurl }}/flux.xml">flux RSS</a>.
          </small>
        </div>
      </div>
    </div>
  </div>
</div>
