---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  {{ content }}
  <span class="post-date">{% include date-fr.html date=page.date %}</span>
  <span class="post-tags">Tags :
    {% assign sortedTags = page.tags | sort%}
    {% for tag in sortedTags %}
      <a href="/tag/{{ tag }}">{{ tag }}</a> /
    {% endfor %}
  </span>
  {% include share-buttons.html %}
</div>

<div class="related">
  <h2>Autres articles :</h2>
  <ul>
    {% for post in site.related_posts limit:3 %}
      <li>
          <a href="{{ post.url }}">{{ post.title }}</a>
          <span class="post-date">{% include date-fr.html date=post.date %}</span>
      </li>
    {% endfor %}
  </ul>
</div>
