---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  {{ content }}
  <span class="post-date">{% include date-fr.html date=page.date %}</span>
  <span class="post-tags">Tags : {{ page.tags | sort | join: ", " }}</span>
  {% include share-buttons.html %}
</div>

<div class="related">
  <h2>Autres articles :</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ post.url }}">
            {{ post.title }}
            <small>{% include date-fr.html date=post.date %}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
